.DS_Store
server/projectCfg/__pycache__/
server/accounts/__pycache__/
server/api/__pycache__/
server*/__pycache__/
/server/*/migrations/*
!server/*/migrations/__init__.py
server/projectCfg/env.py
.env
/server/media/comment/*
/server/media/icon/*
/server/media/tweet/*
!server/media/icon/defo.png
!server/media/comment/defo.png
!server/media/tweet/defo.png
/server/*/fixtures/*
!server/*/fixtures/add_dammies.py
client/.env